.in {
    padding: 5px;
    border-radius: 5px;
    color: green;
    background-color: rgba(0, 128, 0, 0.151);
}

.out{
    padding: 5px;
    border-radius: 5px;
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
}

.cellAction {
    display: flex;
    align-items: center;

    .edit{
        padding: 2px 5px;
        border-radius: 5px;
        color: darkblue;
        border: 1px dotted rgba(0, 0, 139, 0.596);
        cursor: pointer;
        font-weight: 500;
        text-transform: capitalize;
    }
    .delete{
        padding: 2px 5px;
        border-radius: 5px;
        color: crimson;
        border: 1px dotted rgba(220, 20, 60, 0.6);
        cursor: pointer;
        font-weight: 500;
        text-transform: capitalize;
    }
}